header {
    height: 10vh;
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 99;
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 100%;

        .header__logo {}

        .header__nav {
            position: absolute;
            left: 50%;
            transform : translate(-50%);
            .home-nav {
                display: flex;
                margin-bottom: 0;

                li {
                    list-style-type: none;
                    padding: 20px;
                    &.active{
                        background: red;
                    }
                    a {
                        color: black;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                        text-align: left;
                        text-decoration: none;
                        &:hover{
                            color: $highlight-color;
                        }
                    }
                }
            }
        }

        .header__user-info {
            display: flex;
            align-items: center;
            position: relative;
            p {
                margin-bottom: 0;
            }
            .user-avt {
                margin-left: 11px;
                margin-right: 14px;
            }
            .info__hamburger-menu{
                cursor: pointer;
            }
            .user__hamburger-menu{
                position: absolute;
                bottom: -180px;
                height: 180px;
                width: 100%;
                background: white;
                z-index: 9;
                clip-path: inset(0 0 100% 0);
                transition: .5s;
                ul{
                    height: 100%;
                    
                    li{
                        cursor: pointer;
                        list-style-type: none;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 22px;
                        text-align: center;
                        height: 33.33333%;
                        display: grid;
                        place-items: center;
                        &:not(last-child){
                            border-bottom: 1px solid #E7E7E7ed;
                        }
                        a{
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
                &.active{
                    clip-path: inset(0 0 0 0);
                }
            }
        }
    }
}
