
.cfd-team-wrapper{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 80px;
    .team-title{
        width: 800px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 80px;
        h2{
            font-weight: bold;
            font-size: 50px;
            line-height: 168.09%;
            text-align: center;
            text-transform: uppercase;
        }
        p{
            font-size: 28px;
            line-height: 168.09%;
            text-align: center;
        }
    }
    .mentor-card-wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        margin-bottom: 30px;
        .team-mentor{
            width: 100%;
            flex: 48% 0;
            background-color: white;
            .mentor__card-img{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .mentor__card-text{
                padding: 35px 45px;
                h4{
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 168.09%;
                    text-transform: uppercase;
                }
                p{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 168.09%;
                    color: $sub-text-color;
                }
            }
            
        }
    }
    .students-card-wrapper{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 30px;
        .team-students{
            background-color:white;
            .student__card-text{
                padding: 20px;
            }
        }
        
    }
}