$main-yello-color: #ecc41b;
$sub-text-color: #b0b0b0;
$main-background-color: #E5E5E5;
$highlight-color: #49C5B6;


$montserrat-font:'Montserrat',
sans-serif;
$roboto-font: 'Roboto Mono',
monospace;
$montserrat: 'Montserrat',
sans-serif;